{% extends "multimedia/base.html" %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/detail.css" %}">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3">
    <!-- preview consist of thumbnail and a few aux data -->
    <div class="panel">
      <div class="panel-body">
        {% block preview %}{% endblock preview %}
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <!-- description consist of the description (duh), and other aux data -->
    <div class="panel">
      <div class="panel-body">
        {% block description %}{% endblock description %}
      </div>
    </div>
  </div>
</div>
<div class="panel">
  <div class="panel-body">
    <form class="form-horizontal" action="{% url "review:multimedia_review" multimedia_id %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label class="col-md-2 control-label">Rating</label>
        <div class="col-md-2">
          <select class="form-control" name="rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option selected="selected">5</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">Review</label>
        <div class="col-md-10">
          <textarea class="form-control" name="comment" placeholder="Your review here"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-2">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <ul class="list-group">
  {% for review in reviews %}
    <li class="list-group-item">
      <dl class="dl-horizontal">
        <dt>User</dt>
        <dd>{{ review.user }}</dd>
        <dt>Rating</dt>
        <dd>{{ review.rating }} stars</dd>
        <dt>Review</dt>
        <dd>{{ review.comment }}</dd>
      </dl>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock content %}
