{% extends "multimedia/base.html" %}
{% load staticfiles %}

{% block content %}
{{ block.super }}
<!-- type is either book, movie, application, etc -->
<h2>{{ type }} List</h2>
<div class="container">
  <ul class="list-unstyled">
    {% for item in multimedia %}
    <li>
      <div class="panel">
        <div class="panel-body">
          <div class="media">
            <div class="media-left media-middle">
              <!-- Insert thumbnail here -->
              <a href="{{ item.url }}">
                <img class="media-object" src="#">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="{{ item.url }}">{{ item.name }}</a></h4>
              <!-- Item info eg author, singer, isbn, version, price here -->
              {% block info %}{% endblock info %}
            </div>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
