{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Home - Digital Content Store
{% endblock %}

{% block css %}
<link href="{% static "css/index.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<br />
<br />
<div class="page-header">
    <h1>Welcome to DCS</h1>
</div>
<br />
<br />
<br />
<p class="lead">
<table width = "75%" align = "center">
    <tr>
        <th>
            <a href="{% url "app:list" %}"> 
                <img src = "{% static "images/MenuApp.png" %}" />
            </a>
        </th>

        <th>
            <a href="{% url "music:list" %}">
                <img src = "{% static "images/MenuMusic.png" %}" />
            </a>
        </th>

        <th>
            <a href="{% url "movie:list" %}">
                <img src = "{% static "images/MenuMovie.png" %}" />
            </a>
        </th>

        <th>
            <a href="{% url "book:list" %}">
                <img src = "{% static "images/MenuBook.png" %}" />
            </a>
        </th>
    </tr>
</table>
</p>
<br />
<br />
<br />
<br />
<hr />

{% endblock %}


