{% extends "transaction/base.html" %}

{% block title %}
Checkout
{% endblock %}

{% block content %}
<h1> Shopping Cart
<table class="table table-striped">
	<thead>
		<tr>
			<th>Item</th>
			<th>Qty</th>
			<th>Price</th>
			<th>Total</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>a</td>
			<td>1</td>
			<td>$1.00</td>
			<td>$1.00</td>
		</tr>
		<tr>
			<td>a</td>
			<td>1</td>
			<td>$1.00</td>
			<td>$1.00</td>
		</tr>
		<tr>
			<td>a</td>
			<td>1</td>
			<td>$1.00</td>
			<td>$1.00</td>
		</tr>
		<tr>
			<td>a</td>
			<td>1</td>
			<td>$1.00</td>
			<td>$1.00</td>
		</tr>
		<tr>
			<td>a</td>
			<td>1</td>
			<td>$1.00</td>
			<td>$1.00</td>
		</tr>
		<tr>
			<td>a</td>
			<td>1</td>
			<td>$1.00</td>
			<td>$1.00</td>
		</tr>
		<tr>
			<td>a</td>
			<td>1</td>
			<td>$1.00</td>
			<td>$1.00</td>
		</tr>
		<tr>
			<td>a</td>
			<td>1</td>
			<td>$1.00</td>
			<td>$1.00</td>
		</tr>
	</tbody>

</table>
{% endblock %}